
.root {
    -fx-font-family: "Arial Rounded MT Bold", sans-serif;
    -fx-background-color: linear-gradient(
            to right bottom,
            #00131e,
            #1b0023,
            #00131e
    );
}

.sceneTitle {
    -fx-font-size: xx-large;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: white;
    -fx-max-width: 200px;

}
.button {
    -fx-background-color: #7915b5;
    -fx-border-radius: 50px;
    -fx-text-fill: white;
    -fx-padding: 8px 12px;
    -fx-max-width: 200px;
}

.signUpGrid {

    -fx-max-width: 200px;
}